*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background: #fbf5fe;
}


nav{
    background:#BA68C8;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    
}
label.logo{
color: black;
font-size: 35px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;

}
nav ul{
   float: right;
   margin-right: 70px;

}
nav ul li{
    display: inline-block;
    line-height: 20px;
    margin: 25px 5px;


}
nav ul li a{
    color:white;
    font-size: 12px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
    
font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
font-weight: 500;

}
 a.active , li a:hover{
    background: #dd1ca6;
    transition: 0.5s;

}
.checkbtn{
    font-size: 24px;
    color:black;
    float: right;
    line-height: 80px; 
    margin-right: 25px;
    margin-top:22px
    cursor: pointer;
    display: none;

}
#check{
    display: none;
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 25px;
    line-height: 80px;
    margin-top: 35px;
  
    cursor: pointer;

}



#content {
    width: 100%;
    display: flex;
    background: url(bg.jpg) ;
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 86vh;
}


.left-c {

    
    padding-left: 170px;
    padding-right: 3em;
    flex-basis: 50%;
    margin-top: 8%;
    }


.left-c h1{
    font-size: 50px;
    /* color: rgb(255, 255, 255); */
    line-height: 1.2;
    font-weight: 800;
  }
.left-c h1 span{
    font-weight: 800;
color: #BA68C8;
}
.left-c h2{
    font-size: 30px;
    font-weight: 400;
    padding-top: 20px;
  }
  

 .subheading {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #BA68C8;}
    .left-c button{
        margin-top: 20px;
    }

    .button-1 {
        align-items: center;
         appearance: none; 
        background-color: #BA68C8;
        border-radius: 10px;
        border-width: 0;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
        box-sizing: border-box;
        color: #36395A;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono",monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
         
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
       
        font-size: 18px;
        margin: 10px;
      }
      
       .button-1:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      } 
      
      .button-1:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
      }
      
      .button-1:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
      } 
      .button-2 {
        align-items: center;
        appearance: none;
        background-color: #FCFCFD;
        border-radius: 10px;
        border-width: 0;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
        box-sizing: border-box;
        color: #36395A;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono",monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        
        font-size: 18px;
      }
      
      .button-2:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      }
      
      .button-2:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
      }
      
      .button-2:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
      }



.right-c {
    width: 100%;
    flex-basis: 50%;
}

.right-c img {
    /* width: 47%; */
    width: 100%;
    height: 80%;
    
    /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
    margin-top: 32px;
  
  }
  .right-c img:hover {
    transform: translateY(0) scale(1.2);
}
#about {
    display: flex;
    width: 100%;
height: 85vh;
    background: white;
    background-size:cover ;
    background-repeat: no-repeat;

  }



.left-a {
    flex-basis: 75%;
    margin-top: 66px;
  }
.right-a{
    text-align: center;
    width: 100%;
    margin-top: 66px;
    flex-basis: 30%;
}

.left-a img {
    width: 99%;
    height: 86vh;
  
}



.right-a h1 {
    color: #2962ff;
margin-right: 45%;
font-size: 29px;
}
.right-a h1 span{
  border-bottom: 2px solid #B413E1;
}

.right-a p {
    font-family: Helvetica;
    font-size: 13px;
    color: rgb(100, 95, 95);
    line-height: 1.5;
    padding-left: 15px;
  }



  .services{
    text-align: center;
    margin: 20px 20px;
    
  }
  .services h2{
    margin-bottom:30px ;
    
  }
  .services span{
    border-bottom: 2px solid #BA68C8;
  }
  .services-container{
  display: flex;
  margin: 43px;
  }
  .services-card{
    box-shadow: 0 0 15px rgb(46, 119, 196);
    padding: 27px;
    margin: 18px;
  }
  .services-card img{
    width: 80%;
    height: 55%;
  }
  .services-card h3{
  
    padding: 5px;
  }
  .services-card p{
  padding: 5px;
  font-size: 13px;
  }
  

  .contact{
display: flex;
margin: 50px 112px;
/* text-align: center; */
  }
  .left{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    width: 40%;
    background: #0069f7;
    color: white;
    border-radius: 5px;
    padding: 7px;
    box-shadow: 0 0 15px rgb(46, 119, 196);
  }
  .left h3{
    text-align: center;
  }
  .contact-items{
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: 16px;
    padding: 13px;
  }
  .left h2{
text-align: center;
margin: 35px 0px;
  }
  .contact-items i {
    font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;
line-height: 1;
letter-spacing: normal;
text-transform: none;
display: inline-block;
white-space: nowrap;
word-wrap: normal;
direction: ltr;

  }
  .contact-items p{
    font-size: 15px;
margin-left: 15px;
  }

  .social{
    display: flex;
    margin-left: 54px;
    margin-top: 5px;
  }
.social-items i{
margin: 8px;
}
 
 
  .right {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    /* width: 40%; */
    /* background: #0069f7; */
    color: black;
    border-radius: 5px;
    /* padding: 45px; */
    box-shadow: 0 0 15px rgb(46, 119, 196);
    margin-left: 5px;
}
.right h2{
  text-align: center;
  margin: 35px 0px;

}

.right input {
    padding: 5px;
    margin: 10px;
    color: black;

}

.right textarea {
    color: black;
    margin: 10px;
    height: 100px;
    padding: 5px;
}

.right ::placeholder {
    color: black;
}

.right button {
    width: 100px;
    background-color: #0069f7;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: bisque;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 10px;
    outline: none;
    padding: 10px 16px;
   
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation
}

.right a :hover {
    background-color: #c2188f;
} 




.projects{
  text-align: center;
  margin: 20px 20px;
  
}
.projects h2{
  margin-bottom:30px ;
  
}
.projects span{
  border-bottom: 2px solid #BA68C8;
}
.projects-container{
display: flex;
margin: 43px;
}
.project-card{
  box-shadow: 0 0 15px rgb(46, 119, 196);
  padding: 27px;
  margin: 18px;
  border-radius: 10px;
}
.project-card img{
  width: 80%;
  height: 55%;
}
.project-card h3{

  padding: 5px;
}
.project-card p{
padding: 5px;
font-size: 13px;
}
.project-link{
margin: 10px;
}
.skills{
height: 100vh;
}

.skills h2{
  margin-top: 50px;
  text-align: center;
}
.skills-wrapper{
  display: flex;
  margin: 20px;
    margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.skills-wrapper img{
  width: 225px;
  margin: 35px;
}
 
